
@import url('https://fonts.googleapis.com/css2?family=Literata:opsz@7..72&display=swap');

body {
  background-color: black;
  color: white; /* text color */
}

/* Change header text to imported font */
h2 {
  font-family: 'Literata', sans-serif;
}

/* Make text visible on inputs */
.shiny-input-container {
  color: #474747;
}