/* Paragraph indent for paragraphs */
p.running-text {
  text-indent: 25px;
  align: justify;
}

/* Hanging indent for bibliographies */
p.bib {
  padding-left: 22px;
  text-indent: -22px;
}


/* Navbar design */
.navbar {
  padding-bottom: 0rem;
  padding-top: 0rem;
}

.container-logo {
   display: inline-grid;
   column-gap: 0px;
   row-gap: 0px;
   grid-template-columns: repeat(4, auto);
   grid-template-rows: repeat(2, auto);
}

div.logo {
  display: inline-flex;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background-color: #F4F4F2;
}

div.logo:hover {
  background-color: #DEDED8;
}

a.logo {
  color: #FED22B;
  text-decoration: none;
  background-color: transparent;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}


/* Slider color */
.irs-bar-edge, .irs-bar, .irs-single, .irs-from, .irs-to {
  background: #FED22B !important;
  border-color: #B4B4B4 !important;
}

/* Radio buttons */
.pretty.p-default input:checked~.state label:after {
  background-color: #FED22B !important;
}

/* align two spans around character */
dl.map-labels-align {
  text-align: center;
  margin: auto;
}

dt.map-labels-item, dd.map-labels-item {
  display: inline-block;
  text-align: left;
  margin: 0;
  padding: 0 5px 0 0;
}

dt.map-labels-item:after {
  content: ':';
}

/* Remove padding from specific leaflet boxes */
#exp_mapbox .card-header, #exp_mapbox .card-body {
  padding: 0em;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}
