a.intext {
  color: #000;
  border-bottom: 1px solid black;
}

a.intext:hover {
  color: #000;
  text-shadow: 0 0 0.01px black;
  border-bottom: 2px solid black;
}

/* Paragraph indent for paragraphs */
p.running-text {
  text-indent: 20px;
  text-align: justify;
  text-justify: inter-word;
}

/* Hanging indent for bibliographies */
p.bib {
  padding-left: 22px;
  text-indent: -22px;
}


/* Navbar design */
.navbar {
  padding-bottom: 0rem;
  padding-top: 0rem;
}

.container-logo {
   display: inline-grid;
   column-gap: 0px;
   row-gap: 0px;
   grid-template-columns: repeat(4, auto);
   grid-template-rows: repeat(2, auto);
}

div.logo {
  display: inline-flex;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background-color: #F4F4F2;
}

div.logo:hover {
  background-color: #DEDED8;
}

a.logo {
  color: #FED22B;
  text-decoration: none;
  background-color: transparent;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}

/* Search list box */
.form-control-container {
  position: absolute !important;
  margin-left: 4.3em;
  width: 75% !important;
}

.form-results {
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 100;
  right: auto;
  width: min(100%, 15.8rem);
  background-color: #fff;
  border: 1px solid var(--gray);
  border-radius: 0.2rem;
  margin-top: 2px;
  margin-left: 0.3em;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.form-suggestions {
  display: block;
}

.form-suggestion {
  cursor: pointer;
  padding-top: 5px;
  padding-right: 4px;
  padding-bottom: 5px;
  padding-left: 4px;
  border-bottom: 1px #DDD solid;
  font-size: 0.9rem;
}

.form-suggestion:hover {
  background-color:#B3DDFE
}

.form-suggestion-row {
  display: inline-flex;
  align-items: center;
}

.form-suggestion-icon {
  min-width: 1.5em;
  margin-left: 0.5em;
  font-size: 17px;
  display: flex;
  text-align: center;
}

.search-icon {
  margin: 6px 5px 6px 15px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

/* Slider color */
.irs-bar-edge, .irs-bar, .irs-single, .irs-from, .irs-to {
  background: #FED22B !important;
  border-color: #B4B4B4 !important;
}

/* Radio buttons */
.pretty.p-default input:checked~.state label:after {
  background-color: #FED22B !important;
}

/* Remove padding from specific leaflet boxes */
#main-exp-mapbox .card-header, #main-exp-mapbox .card-body {
  padding: 0em;
}

.leaflet-box {
  padding: 0px !important;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}

/* DT custom download buttons */
.dt-button-2 {
  background: white !important;
  border-radius: 10px !important;
  border-color: #ddd !important;
  margin-left: 5px !important;
  margin-bottom: -40px !important;
}

.dwn-wrapper {
  display: inline-flex;
  vertical-align: middle;
}

.dt-button-2:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}

/* geo taxonomy */
.tax-container {
  display: grid;
  grid-template-columns: 45% 5% 45%;
  grid-template-rows: 20% 80%;
  grid-template-areas: 
    "header header header"
    "levels . domains";
  row-gap: 5%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 80%;
  height: 100vh;
}

.tax-elem {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
}

.tax-elem:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.tax-elem:focus {
  outline: #FED22B;
}

.tax-header {
  grid-area: header;
  background: #1A1A1A;
  color: white;
  border-radius: 3vh;
  font-size: 5vmin;
}
    
.tax-levels-container {
  grid-area: levels;
  display: grid;
  grid-template-columns: 25% 5% 70%;
  grid-template-areas: 
    "virtual . local"
    "virtual . regio"
    "virtual . natio"
    "virtual . supra";
  row-gap: 2%;
  height: 70vh;
}

.tax-level {
  color: white;
  border-radius: 3vh;
  font-size: 4vmin;
}

.tax-virtual {
  grid-area: virtual;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  background-color: #F26553;
}

.tax-local {
  grid-area: local;
  background-color: #EE3727;
}

.tax-regional {
  grid-area: regio;
  background-color: #E73E27;
}

.tax-national {
  grid-area: natio;
  background-color: #C33728;
}

.tax-supranational {
  grid-area: supra;
  background-color: #972C24;
}

.tax-domains-container {
  grid-area: domains;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-areas: 
    "prox spat dims"
    "prox poli dims"
    "prox soci dims"
    "prox tech dims"
    "prox econ dims";
  row-gap: 4%;
  column-gap: 0%;
  height: 70vh;
}

.tax-domain {
  color: black;
  background-color: #EEE4E5;
  font-size: 2.5vmin;
}

.tax-domain-sidebar {
  color: black;
  background-color: #C8A1A2;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  font-size: 3vmin;
}

.tax-prox    { grid-area: prox; }
.tax-spatial { grid-area: spat; }
.tax-policy  { grid-area: poli; }
.tax-social  { grid-area: soci; }
.tax-tech    { grid-area: tech; }
.tax-econ    { grid-area: econ; }
.tax-dims    { grid-area: dims; }
