input[type="number"] {
  max-width: 80%;
}

p.running-text {
  text-indent: 25px;
  align: justify;
}

a.logo {
  height: 45px;
  background-color: #F4F4F2;
}

a.logo:hover {
  background-color: #DEDED8;
}

a.logo img {
  max-height: 35px;
}

/* Slider color */
.js-irs-0 .irs-bar {
  border-top-color: #FED22B;
  border-bottom-color: #FED22B;
} 

.js-irs-0 .irs-bar-edge {
  border-color: #FED22B;
}

.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar {
  background: #FED22B;
}

.js-irs-1 .irs-bar {
  border-top-color: #FED22B;
  border-bottom-color: #FED22B;
} 

.js-irs-1 .irs-bar-edge {
  border-color: #FED22B;
}

.js-irs-1 .irs-single, .js-irs-1 .irs-bar-edge, .js-irs-1 .irs-bar {
  background: #FED22B;
}

/* Radio buttons */
.pretty.p-default input:checked~.state label:after {
  background-color: #FED22B !important;
}

/* align two spans around character */
.progress-ww div {
  display: flex;
}

.progress-ww div span {
  flex: 1;
}

.progress-ww div span:first-of-type {
  text-align: left;
  padding-right: 5px;
}

.progress-ww div span:last-of-type {
  padding-left: 5px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}
